@import "params";

@mixin clear {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@mixin description-caption {
  display: flex;
  text-align: center;
  font-size: $menu-size-text;
  font-weight: bold;
  line-height: 1.5em;
  text-transform: uppercase;
}

@mixin description-number {
  display: flex;
  font-size: $base-size-text;
  line-height: 1.5em;
  text-transform: uppercase;
  padding-top: 6px;
}

@mixin description-text {
  display: flex;
  text-align: center;
  font-size: $base-size-text;
  line-height: 1.5em;
  text-transform: uppercase;
  padding-top: 13px;
}

@mixin intro {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
}

@mixin form-text {
  display: flex;
  text-transform: uppercase;
  font-size: $base-size-text;
}

@mixin input-text {
  display: flex;
  font-size: $menu-size-text;
  font-weight: bold;
  background-color: $body-bg-color;
  border: none;
  width: 100%;
  padding: 20px;
}
