// Colors

$body-bg-color: #f2f2f2;
$content-bg-color: #ffffff;
$text-color-one: #000000;
$text-color-two: #ffffff;
$main-color: #81b3d2;
$mobile-nav-text-hover: #ffffff;
$mobile-nav-text-down: #c4dbe8;
$mobile-nav-border: #678fa8;
$main-color-hover: #669ec0;
$main-color-down: #5496bd;
$reasons-bg-color: #eeeeee;
$reasons-border: #bbbbbb;
$input-icon-bg: #e6e6e6;
$radio-btn-color: #333333;

// Sizes

$menu-size-text: 18px;
$base-size-text: 14px;
$caption-size-text: 21px;
$big-size-text: 30px;
