@import "partials/params";
@import "partials/mixins";

.form {
  @include clear;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  &__caption {
    @include clear;
    display: flex;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: $menu-size-text;
    line-height: 1.5em;
    padding: 25px 20px 0;
  }
}

.form__self,
.form__contact,
.form__impression,
.form__place,
.form__comment {
  @include clear;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-top: 1px solid $reasons-border;
}

.self__container,
.contact__container,
.impression__container,
.place__container {
  @include clear;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px 20px 25px;
}

.self__name {
  @include clear;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  & .name__text {
    @include clear;
    @include form-text;
    padding-right: 10px;
  }
  & .name__input {
    @include clear;
    @include input-text;
    &::placeholder {
      color: $text-color-one;
    }
    &:hover {
      background-color: $input-icon-bg;
    }
    &:focus {
      background-color: $content-bg-color;
      border: 4px solid $input-icon-bg;
      padding: 16px;
      outline: none;
    }
  }
}

.comment__container {
  @include clear;
  display: flex;
  width: calc(100% - 40px);
  height: 160px;
  margin-top: 25px;
  margin-bottom: 50px;
  & .comment__text {
    @include clear;
    display: flex;
    font-size: $menu-size-text;
    font-weight: bold;
    line-height: 1.5em;
    background-color: $body-bg-color;
    width: 100%;
    height: 160px;
    padding: 20px;
    border: none;
    &::placeholder {
      color: $text-color-one;
    }
    &:hover {
      background-color: $input-icon-bg;
    }
    &:focus {
      background-color: $content-bg-color;
      border: 4px solid $input-icon-bg;
      padding: 16px;
      outline: none;
    }
  }
}

.form__submit {
  @include clear;
  display: flex;
  width: 100%;
  & .submit__container {
    @include clear;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 20px 40px;
  }
  & .submit__button {
    @include clear;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $main-color;
    color: $text-color-two;
    border: none;
    font-size: $caption-size-text;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    padding: 20px 0;
    &:hover {
      background-color: $main-color-hover;
      cursor: pointer;
    }
  }
  & .submit__reminder {
    display: none;
  }
}

@media (min-width: 768px) {
  .form {
    flex-direction: row;
    flex-wrap: wrap;
    width: 648px;
    &__caption {
      font-size: $caption-size-text;
      max-width: 350px;
      padding: 0;
    }
  }

  .form__self {
    position: relative;
    width: 50%;
    border: none;
    &:before {
      @include clear;
      content: "";
      display: flex;
      position: absolute;
      background-color: $reasons-border;
      width: 1px;
      height: 290px;
      top: 11px;
      left: 0;
    }
  }

  .self__container {
    padding: 30px 0 75px 60px;
  }

  .form__contact,
  .form__comment {
    position: relative;
    border: none;
    &:before {
      @include clear;
      content: "";
      display: flex;
      position: absolute;
      background-color: $reasons-border;
      width: 125px;
      height: 1px;
      top: 14px;
      left: 0;
    }
    &:after {
      @include clear;
      content: "";
      display: flex;
      position: absolute;
      background-color: $reasons-border;
      width: 125px;
      height: 1px;
      top: 14px;
      right: 0;
    }
  }

  .contact__container {
    padding: 0 0 60px 0;
  }

  .form__impression {
    order: -1;
    width: 50%;
    border-top: none;
  }

  .impression__container {
    padding: 30px 60px 75px 0;
  }

  .form__place {
    position: relative;
    border: none;
    &:before {
      @include clear;
      content: "";
      display: flex;
      position: absolute;
      background-color: $reasons-border;
      width: 125px;
      height: 1px;
      top: 30px;
      left: 0px;
    }

    &:after {
      @include clear;
      content: "";
      display: flex;
      position: absolute;
      background-color: $reasons-border;
      width: 125px;
      height: 1px;
      top: 30px;
      right: 0;
    }
  }

  .place__container {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px 0 75px 0;
  }

  .comment__container {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .form__submit {
    .submit__container {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      padding: 0 0 60px 0;
    }
    & .submit__button {
      width: 50%;
    }
    & .submit__reminder {
      @include clear;
      display: flex;
      justify-content: flex-end;
      width: 50%;
    }
  }
}

@media (min-width: 1200px) {
  .form {
    width: 960px;
  }

  .self__container {
    padding: 30px 0 75px 80px;
  }

  .impression__container {
    padding: 30px 80px 75px 0;
  }

  .form__contact,
  .form__place,
  .form__comment {
    &:before {
      width: 280px;
    }
    &:after {
      width: 280px;
    }
  }

  .contact__container {
    padding: 70px 0 60px 0;
  }

  .place__container {
    justify-content: space-between;
    padding: 50px 0 70px 0;
  }
}
